
body{
    background-image: url('../imagenes/hd-wallpaper-3010848_1920.jpg');
    background-size: cover;
}
.fi{
    background-color: rgb(1, 1, 39);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 20px;

}
label{
    color: #fff;
    font-size: 20px;

}




[type="text"]{
    display: block;
    width: 100%;
    height: 30px;
    border: 0;
    background:rgba(255,255,255,0.4);
    margin-bottom: 20px;
}

[type="email"]{
    display: block;
    width: 100%;
    height: 30px;
    border: 0;
    background:rgba(255,255,255,0.4);
    margin-bottom: 20px;
}
[type="date"]{
    display: block;
    width: 70%;
    height: 30px;
    margin-top: 20px;

}
.ec{
    display: block;
}

.frm{
    background-color: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;



}
legend{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 50px;



}
.boton{

    width: 140px;
    height: 30px;
    background-color: rgb(17, 250, 250);
    margin-top: 30px;
   /* border: 4px solid  rgb(71, 4, 4);*/
    border: 0;
    color: rgb(3, 10, 72);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    float: right;
}

